/* All */
* {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

h1 {
    text-align: center;
}

/* Menu - drop-down nav bar */


/* Home */
.home {
    text-align: center;
}

/* Projects - carousel */
.carousel-container {
    width: 60%;
    margin: auto;
}

/* Contact - form */


/* About & Resume */